# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.next
out
coverage
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea
.vscode
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / cache
.turbo
.cache
tmp
temp

# Nest
apps/api/dist

# Misc
*.swp
*.swo
